.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.iframeContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
